span.titolone-alto {
    padding-left: 7px;
    left:19px;
    position: absolute;
    top: -2px;
}
.pb-header .pb-logo {
    position: relative;
}
.logo-img-menu {
    height: 45px;
    top: -9px;
    position: relative;
}
.action_home .testomonial-card .single-card {
    position: relative;
    height: 7rem;
    margin-bottom: 22px;
    overflow: hidden;
}
.links-bunch:not(:first-child) {
    margin-left: 10px;
}
.press-highlights-stripe .inner span:last-child {
    display: none;
}
.action_home .homepage-solutions .solution-block {
    color: rgba(0,0,0,0.54);
    column-count: 2;
}
.action_home .homepage-solutions .solution-block img {
    display: block;
    width: 100%;
    margin-bottom: 32px;
    max-width: 326px;
}

.desktop {
    .container-wrapper {
        display: flex ;
    }
    .mdc-card {
        display: inline-flex;
        margin-right: 10px;
    }
}