@font-face {
    font-family: 'Quiche Display';
    src: url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-LightItalic.woff2') format('woff2'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-LightItalic.woff') format('woff'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Quiche Display';
    src: url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-MediumItalic.woff2') format('woff2'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-MediumItalic.woff') format('woff'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Quiche Display';
    src: url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-ThinItalic.woff2') format('woff2'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-ThinItalic.woff') format('woff'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Quiche Display';
    src: url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-Medium.woff2') format('woff2'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-Medium.woff') format('woff'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Quiche Display';
    src: url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-BlackItalic.woff2') format('woff2'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-BlackItalic.woff') format('woff'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Quiche Display';
    src: url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-Bold.woff2') format('woff2'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-Bold.woff') format('woff'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Quiche Display';
    src: url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-BoldItalic.woff2') format('woff2'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-BoldItalic.woff') format('woff'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Quiche Display';
    src: url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-ExtraBold.woff2') format('woff2'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-ExtraBold.woff') format('woff'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Quiche Display';
    src: url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-Italic.woff2') format('woff2'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-Italic.woff') format('woff'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Quiche Display';
    src: url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-ExtraBoldItalic.woff2') format('woff2'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-ExtraBoldItalic.woff') format('woff'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Quiche Display';
    src: url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-Black.woff2') format('woff2'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-Black.woff') format('woff'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Quiche Display';
    src: url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-Regular.woff2') format('woff2'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-Regular.woff') format('woff'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quiche Display';
    src: url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-Light.woff2') format('woff2'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-Light.woff') format('woff'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Quiche Display';
    src: url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-Thin.woff2') format('woff2'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-Thin.woff') format('woff'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Quiche Display';
    src: url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-ThinItalic_1.woff2') format('woff2'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-ThinItalic_1.woff') format('woff'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-ThinItalic_1.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Quiche Display';
    src: url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-Black_1.woff2') format('woff2'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-Black_1.woff') format('woff'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-Black_1.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Quiche Display';
    src: url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-BoldItalic_1.woff2') format('woff2'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-BoldItalic_1.woff') format('woff'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-BoldItalic_1.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Quiche Display';
    src: url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-Light_1.woff2') format('woff2'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-Light_1.woff') format('woff'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-Light_1.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Quiche Display';
    src: url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-MediumItalic_1.woff2') format('woff2'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-MediumItalic_1.woff') format('woff'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-MediumItalic_1.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Quiche Display';
    src: url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-Medium_1.woff2') format('woff2'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-Medium_1.woff') format('woff'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-Medium_1.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Quiche Display';
    src: url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-ExtraBoldItalic_1.woff2') format('woff2'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-ExtraBoldItalic_1.woff') format('woff'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-ExtraBoldItalic_1.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Quiche Display';
    src: url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-Regular_1.woff2') format('woff2'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-Regular_1.woff') format('woff'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-Regular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quiche Display';
    src: url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-LightItalic_1.woff2') format('woff2'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-LightItalic_1.woff') format('woff'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-LightItalic_1.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Quiche Display';
    src: url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-Bold_1.woff2') format('woff2'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-Bold_1.woff') format('woff'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-Bold_1.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Quiche Display';
    src: url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-BlackItalic_1.woff2') format('woff2'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-BlackItalic_1.woff') format('woff'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-BlackItalic_1.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Quiche Display';
    src: url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-ExtraBold_1.woff2') format('woff2'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-ExtraBold_1.woff') format('woff'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-ExtraBold_1.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Quiche Display';
    src: url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-Italic_1.woff2') format('woff2'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-Italic_1.woff') format('woff'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-Italic_1.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Quiche Display';
    src: url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-Thin_1.woff2') format('woff2'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-Thin_1.woff') format('woff'),
        url('https://xenodochial-ritchie-652ef0.netlify.com/QuicheDisplay-Thin_1.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}



span.titolone-alto {
    padding-left: 7px;
    left:19px;
    position: absolute;
    top: -2px;
}
.pb-header .pb-logo {
    position: relative;
}
.logo-img-menu {
    height: 45px;
    top: -9px;
    position: relative;
}
.action_home .testomonial-card .single-card {
    position: relative;
    height: 7rem;
    margin-bottom: 22px;
    overflow: hidden;
}
.links-bunch:not(:first-child) {
    margin-left: 10px;
}
.press-highlights-stripe .inner span:last-child {
    display: none;
}
.action_home .homepage-solutions .solution-block {
    color: rgba(0,0,0,0.54);
    column-count: 2;
}
.action_home .homepage-solutions .solution-block img {
    display: block;
    width: 100%;
    margin-bottom: 32px;
    max-width: 326px;
}

.desktop {
    .pb-header .header-content {
        height: 96px;
        margin-bottom: 1rem;
    }
    .pb-logo img.logo-img {
        display: block;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: url(https://corpoeticadotblog.files.wordpress.com/2018/11/corpoetica-logo2.png?w=96) no-repeat;
        width: 96px; /* Width of new image */
        height: 60px; /* Height of new image */
        padding-left: 96px; /* Equal to width of new image */
    }
    .titolone-alto {
        display: none;
    }
    .container-wrapper {
        display: flex ;
    }
    .mdc-card {
        display: inline-flex;
        margin-right: 10px;
    }
    .usp-item {
        font-size: 1.25rem;
        p {
            font-size: 1rem !important;
        }
        img {
            max-width: 552px;
            max-height: 377px;
            
        }
    }
    .lead-text {
        font-size: 1.25rem;
    }
    .heading-5 {
        // display: inline-block;
        // float: left;
        // margin-right: 2rem;
        margin-top: 1rem;
        p {
            font-size: 3rem;
            line-height: 3.5rem;
            margin-bottom: 0px !important;
        }
    }
    .heading-6 {
        font-size: 1.2rem !important;
    }
        
}
.mobile {
    .usp-item {
        img {
            width: 145px;
            height: 72px;
        }
    }
}